.App {
    text-align: center;
    background-color: rgb(54 54 59);
    position: absolute;
    height: 100%;
    width: 96%;
    padding-top: 2%;
    padding-right: 2%;
    padding-bottom: 5%;
    padding-left: 2%;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.Title {
    padding: 2%;
    margin: auto;
    text-align: left;
    color: #00fd00;
    font-family: monospace;
    font-size: 1vw;
}

.ToAddress {
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    background: black;
    color: #00fd00;
    padding: 1%;
    resize: none;
    width: 80%;
    height: 5%;
    font-size: 1.6vh;
    font-family: monospace;
    max-width: 900px;
}

.TextArea {
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    background: black;
    color: #00fd00;
    padding: 1%;
    resize: none;
    width: 80%;
    height: 30%;
    font-size: 1.6vh;
    font-family: monospace;
    max-width: 900px;
}

#previewContainer {
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    padding: 1%;
    background: black;
    max-width: 900px;
    width: 82%;
    height: 30%;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;
}

#msgPreview {
    text-align: left;
    background: black;
    color: #00fd00;
    font-size: 1.6vh;
    font-family: monospace;
}

.container {
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    width: 82%;
    height: 6vh;
    max-width: 933px;
}

.clientInfo {
    width: 65%;
    font-family: monospace;
    text-align: left;
    font-size: 1.5vh;
    color: #00fd00;
    display: inline-block;
}

.MyButton {
    width: 35%;
    height: 100%;
    background-color: rgb(0 0 0);
    color: #00fd00;
    font-size: 2vh;
    cursor: pointer;
    font-family: monospace;
    display: inline-block;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}